<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .container{

            width: 70%;
            background-color: #DAF7A6;
            padding: 30px 0 30px 0;
            font-family: Arial, Helvetica, sans-serif;

        }

        p{

            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;

        }
    </style>

    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <center>
        <section class="container">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure exercitationem quia culpa et quas, ratione consequuntur perspiciatis quo pariatur ullam adipisci voluptatem, non iste eaque. Expedita praesentium alias cupiditate inventore?
                Quam veniam cum ipsum recusandae hic? Rerum sit, facilis reiciendis optio rem impedit exercitationem iusto provident inventore reprehenderit, animi maiores magni, facere ab similique. Accusamus quaerat veniam praesentium perferendis autem?
                Sunt ipsam, ab magni qui eum aut dignissimos officiis. Amet aliquam ullam animi fugit repudiandae, maxime eum rem nesciunt consequuntur beatae, dolor voluptatem aperiam corporis modi! Esse laborum ipsa vero.
                Debitis nihil saepe odio iure iusto sapiente placeat dolorum ut, earum rerum recusandae assumenda incidunt facilis accusamus illo, eum neque tempora minus velit blanditiis at numquam deserunt cum. Reiciendis, natus?
            </p><br><br>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo recusandae repudiandae beatae iste voluptas, dignissimos voluptates culpa, eligendi nemo reprehenderit facilis iure obcaecati impedit. Ullam corrupti recusandae excepturi quibusdam consequatur.
                Vitae aperiam ipsam distinctio architecto, consectetur cumque facere? Doloremque possimus a ad ullam impedit, eum officiis ratione natus unde, dicta asperiores sequi cumque repellat? Voluptates facere mollitia eveniet corporis quae.
                Odit libero iure itaque. Officia ducimus praesentium, possimus, expedita in dignissimos magnam quia molestiae aspernatur repellat temporibus asperiores repudiandae eligendi eaque quos incidunt animi omnis quisquam commodi est. Dolorum, beatae.
            </p>
    
        </section>
    </center>

    <%-include('partials/footer.ejs') %>
</body>
</html>