<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/body.css">
    <title>Document</title>
</head>
<body>

    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <center>
        <section class="container">

            <form action="/recibo">

                <h2>Recibo de Pago</h2><br>

                <ul id="espa">

                    <li><label for="">Nombre</label></li>
                    <li><label for="">Tipo de servicio</label></li>
                    <li><label for="">Kilowatts Consumidos</label></li>
                    <li><label for="">Costo por Kilowatts</label></li>

                </ul>

                <ul>

                    <li><label for=""><%=nombre%></label></li>
                    <li><label for=""><%=servicioT%></label></li>
                    <li><label for=""><%=killowattsC%></label></li>
                    <li><label for=""><%=costo%></label></li><br><br><br>

                </ul>

                <div class="inputs">

                    <%

                        var costo = costo.toFixed(2);
                        var killowatsC = parseFloat(killowatsC);

                        var subtotal = killowattsC * costo;

                        var impuesto = subtotal * .16;
                        var descuento = 0;

                        if(killowattsC <= 1000){

                            descuento = subtotal * .10;

                        }else if(killowatsC > 1000 && killowatsC <= 10000){

                            descuento = subtotal *.20;

                        }else{

                            descuento = subtotal *.50;

                        }

                        total = subtotal + impuesto - descuento;
                        subtotal = subtotal.toFixed(2);
                        impuesto = impuesto.toFixed(2);
                        descuento = descuento.toFixed(2);
                        total = total.toFixed(2);

                    %>
                </div>

                <div class="labels_show">

                    <div id="lig" class="lig2">

                        <label for="">Subtotal: </label>
    
                        <label for="">Impuesto: </label>
    
                        <label for="">Descuento: </label>
    
                        <label for=""><b>Total a Pagar</b></label>
                        
                    </div>
    
                    <div class="inputs_show">
    
                        <input type="number" id="subtotal" name="subtotal" readonly value="<%=subtotal%>"><br><br>
    
                        <input type="number" id="impuesto" name="impuesto" readonly value="<%=impuesto%>"><br><br>
    
                        <input type="number" id="descuento" name="descuento" readonly value="<%=descuento%>"><br><br>
    
                        <input type="number" id="total" name="total" readonly value="<%=total%>"><br><br>
    
                    </div>

                </div>
                
                
    
            </form>
    
        </section>
    </center>

    <%-include('partials/footer.ejs') %>

</body>
</html>